@model LinkedIn.Web.Models.CertificationViewModel

<div>
    @Html.DisplayNameFor(x => x.Name): @Html.DisplayFor(x => x.Name)<br />
    @Html.DisplayNameFor(x => x.Url): @Html.DisplayFor(x => x.Url)<br />
    @Html.DisplayNameFor(x => x.LicenseNumber): @Html.DisplayFor(x => x.LicenseNumber)<br />
</div>
